/* Ninguna de las imagenes son de mi propiedad, a continuación están los links de los autores

Imágenes en Unsplash: https://unsplash.com/@xps
Logo Dell: https://worldvectorlogo.com/logo/dell-1

*/

:root {
    --dark: #16191C;
    --dark-x: #1E2126; 
    --light: #ffffff;
}

body {
    /* fonts google */
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    /* color del texto */
    color: var(--light);
}
/*important es para que sobreescriba*/
/* h1 */
.text-light { color: var(--light) !important; }
/*body*/
.bg-dark { background-color: var(--dark) !important; }
/* boton introduce tu contraseña */
.bg-dark-x { background-color: var(--dark-x); }

.label{
    font-weight: 600;
}

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
    color: #ffffff;
}

.img-1 {
    background-image: url('/images/img-1.jpg');
    background-size: cover;
    background-position: center;
    margin-top: -80px;
}

.img-2 {
    background-image: url('/images/img-2.jpg');
    background-size: cover;
    background-position: center;
    margin-top: -80px;
}